body{
	background: #414141;
}


#slider{
	text-align: center;
	margin-top: 40px;
}



.naglowek{
	
	color: white;
	text-align: center;
}


span{
	cursor: pointer;
	color: white;
}


.przesun{
	margin-left: 300px;
}

.row .przesun{
	text-align: 0 auto;
	
}

