
#floats{
	background: #d41;
	margin: 20 60;
	
}


#floats #container{
	background: white;
	padding: 40px;
	
}


#brad1{
	float: left;
	margin: 0 20 10 0;
}




#mainColumn{
	
	width: 400px;
	float: left;
	
}


#sidebar{
	
	width: 300px;
	float: right;
}


/*
.clear{
	clear: both;
}
*/




.clearfix:after{
	content: "";
	display: table;
	clear: both;
}



#footer{
	clear:both;
	padding-top: 20px;
	text-align: center;
	background: #606060;
}











