

#container{
	
	width: 700px;
	margin: 50px auto;
	
}


input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	
	margin: 0 0 20px;
	padding: 10px;
	border: solid 1px #454545;
	border-top: none;
	display: block;
	width: 50%;
	font-size: 14px;
	color: #777;
	font-family: Monaco, monospace;
	text-transform: uppercase;
}



fieldset{
	
	padding: 40px;
	border: solid 1px #aaa;
	background: url('images/blue_background.jpg');
}


fieldset legend{
	background: white;
	padding: 10px;
	border: solid 1px #777;
}


form{
	padding-top: 10px;
}



label{
	font-size: 12px;
	text-transform: uppercase;
	background: url(images/red_background.jpg);
	display: block;
	width: 46%;
	padding: 2%;
	color: white;
	border: solid 1px #454545;;
	border-bottom: none;
}


input[type="submit"]{
	
	background: none;
	background: url(images/button_background.jpg) repeat-x;
	height: 40px;
	border: solid 1px #777;
	padding: 0 40px;
	color: white
	
	
}


input[type="submit"]:hover{

	cursor: pointer;
	border-color: #444;
}


input[type="submit"]:active{

	border-color: #111;
	
}















































































































