* {
	margin: 0;
	padding: 0;
}


body{
	
	font-family: Arial, sans-serif;
	font-size: 13px;
}

h1#logo{
	
	width: 269px;
	height: 95px;
	background: url(images/googlelogo_color_272x92dp.png) no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	margin: 0 auto;
}




#container{
	
	width: 520px;
	margin: 140px auto 0;
	text-align: center;
}


input[type="text"]{
	
	outline: none;
	width: 520px;
	padding: 13 9 13 9px;
	margin: 20 0 25px;
	border: solid 1px #ccc;
	font-size: 18px;
	font-weight: 400;
	transition: box-shadow 0.6s;
	
}

input[type="text"]:hover{
	
	box-shadow: -1px 3px 8px -2px #888888;
	
}

#submit, #lucky{
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	color: #ccc;
	height: 40px;
	width: 140px;
	margin: 0 0 20 7px;
	color: #757575;
	font-size: 15px;
	font-weight: bold;
	
}


#submit:hover, #lucky:hover{
	border: 1px solid #c3c3c3;
	color: #000000;
}



#small{
	
	font-size: 14px;
}


#small a{
	text-decoration: none;
}


nav#header{
	text-align: right;
	padding: 20px;
}


nav#header ul li{
	display: inline;
	
}


nav#header ul li a:link,
nav#header ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited{
	color: #555;
	text-decoration: none;
	padding: 8px;
}



nav#header ul li a:hover,
footer nav ul li a:hover{

	
	text-decoration: underline;
	
}

footer{
	background: #eee;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer nav{
	padding:  20px;
}

footer nav ul li{
	display: inline;
}


footer nav ul{
	float: left;
}



footer nav ul.right-link{
	float: right;
}



.clearfix:after{
	content: "";
	display: table;
	clear: both;
	
}








