/* styles.css */

body {
    background: #eee;
}

.container {
    position: relative;
    width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px #ccc;
}

.container:after {
    display: table;
    content: "";
    clear: both;
}

.fixedContainer {
    /* fixed height container
       with overflow for scrollbar
    */
    height: 400px;
    overflow: auto;
}
    
.box {
    height: 120px;
    width: 120px;
    background: #000;
    color: white;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

#box1 { background: #38c; }
#box2 { background: #9d9; }
#box3 { background: #c27; }

#droppable {
    background: #222;
    border: solid 2px #000;
    height: 300px;
    width: 400px;
    line-height: 300px;
    text-align: center;
    color: white;
    margin: 40px auto;
}

ul {
    width: 48%;
    float: left;
    margin: 0;
    padding: 0 1%;
    list-style: none;
}

ul li {
    background: #eee;
    padding: 10px;
    margin: 2px 0;
    border: solid 1px #ccc;
}

ul li:hover {
    background: #ddd;
    border-color: #aaa;
    cursor: pointer;
}

ul li:active {
    transform: rotate(2deg);
    background: #ccc;
    border-color: #999;
    box-shadow: 0 10px -4px #111;
}

.placeholderBox {
    background: #fc3;
    height: 20px;
    border: dashed 2px #777;
}

/* ---------
   TODO LIST
   --------- */

#todoListWrapper {
    width: 960px;
    text-align: center;
}

#todoList:after {
    clear: both;
    display: table;
    content: "";
}

#todoList ul {
    width: 14.28%;
    margin: 0;
    padding: 0;
    position: relative;
}

#todoList li {
    background: none;
    padding: 5px;
    border: none;
    margin: 0;
    text-align: left;
    font-size: 12px;
}

#todoList li:hover {
    background: #eee;
}

#todoList li.listTitle {
    background: #444;
    color: white;
    padding: 10px;
    text-align: center;
    border-right: solid 1px white;
    font-size: 14px;
}

#todoList li.listTitle:hover,
#todoList li.listTitle:active {
    cursor: default;
    transform: none;
}

#todoList .emptySpace {
    background: #fc3;
    border: dashed 1px #777;
    height: 10px;
}

#todoList li.addItem {
    display: none;
    position: absolute;
    top: 0;
    background: none;
	
}

#todoList ul:hover li.addItem {
    display: block;
}

#todoList li.addItem input {
    width: 100%;
    padding: 4px;
}

#todoList li.addItem:active {
    transform: none;   
}

#trash {
    background: rgba(178, 73, 38, 0.7);
    color: white;
    height: 200px;
    width: 400px;
    margin: 50px auto 0;
    line-height: 200px;
    text-align: center;
}



.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
	color: #000000;
}
